/* Định dạng nút lưu */
input[type="submit"] {
    background-color: #4CAF50;
    border-radius: 7px;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: auto;
}

.noidung {
    color: white;
    padding-left: 300px;
    display: flex;
    flex-direction: row;
    margin: 10px;
}

p {
    text-align: center;
    margin-bottom: 20px;
    /* Khoảng cách giữa div top và các div khác */
}

img {
    max-width: 200px;
    max-height: 200px;
}

.imgaddbook,
.imgeditbook,
.dltbook {
    margin-left: 50px;
    margin-right: 50px;
}